rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 0. Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // --- Helpers ---
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /clients/{clientId} {
        allow read, write: if isOwner(userId);
      }

      match /appointments/{apptId} {
        allow read, write: if isOwner(userId);
      }

      match /invoices/{invId} {
        allow read, write: if isOwner(userId);
      }

      match /productInvoices/{pInvId} {
        allow read, write: if isOwner(userId);
      }
      match /internalRecords/{recordId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
